#chat {
  display: flex;
  flex-direction: column;
  width: 400px;
}
#chat input {
  margin-bottom: 2px;
}
#msg {
  height: 50px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.chat-name {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.user {
  width: 25vw;
  height: 100px;
  background-color: aquamarine;
}

#messages {
  width: 25vw;
}