div(id='chat')
    input(type='mail' name='mail' id='mail' placeholder='email@email')
    input(type='text' name='token' id='token'  placeholder='token')
    input(type='text' name='msg' id='msg'  placeholder='Escriba su mensaje')
    button(onclick='sendData(this)')='Enviar'
div(id='messages')